.profile
  display: flex
  flex-direction: column
  font-size: 0.8125rem
  padding: 10px 0
  width: 510px

.profile-avatar
  margin-bottom: 60px

.profile-image-wrap
  height: 130px
  margin: 0 auto 20px
  width: 130px

.profile-image
  background-color: #b8b4b4
  border-radius: 50%
  height: 130px
  width: 130px


.profile-content
  margin-bottom: 60px

.profile-setting-item
  padding: 10px

.profile-setting-item:not(:last-of-type)
  border-bottom: 1px solid #EAEAEA

.profile-setting-link
  font-size: 0.8125rem

.profile-setting-link.exit
  color: #f00

.title-profile
  color: #1e1e1e
  font-size: 1rem
  font-weight: 600
  text-align: center

input[class='profile-item-value']
  border: none
  text-align: right

.btn-auth
  background: #3369f3
  border-radius: 8px
  color: #fff
  font-size: 0.8125rem
  margin-bottom: 14px
  padding: 8px 16px
  width: 280px

