@import "../../../../layout/variables"
.common-message
  margin-bottom: 10px
  max-width: 400px
  min-width: 114px
  padding: 10px
  position: relative
  width: fit-content

.common-message.is-time
  align-self: center
  color: $grey-darkest

.common-message.is-other
  background-color: $gray
  border-radius: 0 10px 10px

.common-message.is-image
  background-color: $white
  border-radius: 0

.common-message.is-you
  align-self: flex-end
  background-color: $blue-light
  border-radius: 10px 10px 0

.common-message-text
  margin-bottom: 15px

.common-message-info
  display: flex
  justify-content: flex-end

.status.is-seen
  color: $blue

.status.right,
.status.left
  position: absolute

.status.left
  left: 54px

.status.right
  left: 54px