include ../../../layout/page
+title('Изменить данные', '../profile.sass', '../../../layout/style.sass')
main.profile-wrap
  form#change-profile.profile
    .profile-avatar
      .profile-image-wrap
        img.profile-image(src='../../../images/avatar.png')
    .profile-content
      ul.profile-content-list
        li.profile-list-item
          label.profile-item-name(for='email') Почта
          input#email.profile-item-value(name='email', placeholder='pachta@yandex.ru')
        li.profile-list-item
          label.profile-item-name(for='login') Логин
          input#login.profile-item-value(name='login', placeholder='ivanivanov')
        li.profile-list-item
          label.profile-item-name(for='first_name') Имя
          input#first_name.profile-item-value(name='first_name', placeholder='Иван')
        li.profile-list-item
          label.profile-item-name(for='second_name') Фамилия
          input#second_name.profile-item-value(name='second_name', placeholder='Иванов')
        li.profile-list-item
          label.profile-item-name(for='display_name') Имя в чате
          input#display_name.profile-item-value(name='display_name', placeholder='Иван')
        li.profile-list-item
          label.profile-item-name(for='phone') Телефон
          input#phone.profile-item-value(name='phone', placeholder='+7 (909) 967 30 30')

    .profile-setting
      button.btn.btn-auth(type='submit') Сохранить