include ../../../layout/page
+title('Изменить пароль', '../profile.sass', '../../../layout/style.sass')
main.profile-wrap
  form#change-profile.profile
    .profile-avatar
      .profile-image-wrap
        img.profile-image(src='../../../images/avatar.png')
    .profile-content
      ul.profile-content-list
        li.profile-list-item
          label.profile-item-name(for='oldPassword') Старый пароль
          input#oldPassword.profile-item-value(name='oldPassword', type='password' placeholder='********')
        li.profile-list-item
          label.profile-item-name(for='newPassword') Новый пароль
          input#newPassword.profile-item-value(name='newPassword', type='password' placeholder='********')
        li.profile-list-item
          label.profile-item-name(for='confirmPassword') Повторите новый пароль
          input#confirmPassword.profile-item-value(name='confirmPassword', placeholder='********')

    .profile-setting
      button.btn.btn-auth(type='submit') Сохранить