.chat-list-item
  border-top: 1px solid #EAEAEA

.chat-item-wrap
  display: flex
  padding: 12px 0

.chat-item-avatar
  margin-right: 10px
  width: 57px

.chat-item-content-wrap
  display: flex
  flex-direction: column
  width: 233px

.chat-item-info,
.chat-item-content
  display: flex
  justify-content: space-between

.chat-item-author,
.chat-item-text
  flex-grow: 1

.chat-item-author
  font-size: 0.8125rem
  font-weight: 600

.chat-item-text
  color: #999
  font-size: 0.75rem
  font-weight: 500
  width: 193px

.chat-item-text-self
  color: #000

.chat-item-time,
.chat-item-unread
  width: 40px

.chat-item-unread > span
  align-items: center
  background-color: #3369f3
  border-radius: 100%
  color: #fff
  display: flex
  height: 20px
  justify-content: center
  margin: 0 auto
  width: 20px

.chat-item-time > span
  align-items: center
  color: #999
  display: flex
  font-size: 0.5625rem
  justify-content: center
